# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
env/
.venv/

# Django
*.sqlite3
media/
staticfiles/

# Variables de entorno
.env
.env.*

# Node / React
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
